.container{
    background: #000;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.subContainer{
    display:flex;
    flex-direction:row;
    height:100vh;
}
.mainContainer{
    justify-content:space-between;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.footer{
    height:20%;
    background-color: bisque;;
}

.header{
 background-color: bisque;
 height: 20%;
 
}
.main{
 flex: 1;
 background-color:yellow;
}
.left{
    background-color: blueviolet;
}
.right{
    background-color: blueviolet;
}
 .subContainer *{
    
    padding:10px;
    width: 20%;
    
 }


/* .subContainer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    height:100%;
  
} */

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

@media only screen and (max-width: 480px){
    .subContainer{
      flex-direction: column;
      width: 100%;
    }
    .subContainer *{
        width:100%;
    }
}